*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 16px;
}

@keyframes raimbol {
    100%{
        filter:hue-rotate(360deg);
    }
}

a{
    text-decoration: none;
    text-decoration-style: none;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    background-color: #fff;
}

.header__nav{
    max-width: 550px;
    width: 100%;
}

.img-burger{
    max-width: 30px;
    max-height: 30px;
}


.btn__burger-header{
    border:none;
    background: none;
    cursor: pointer;
}

.btn-burger{
    display: none;
}

.menu__items{
    display: flex;
    justify-content: space-between;
}

.menu-item{
    line-height: 80px;
    color: #1E266D;
}

.contacs{
    display: flex;
    align-items: center;
}

.number{
    color: #1E266D;
    margin-right: 35px;
}

.btn{
    border:none;
    border-radius: 100px;
    cursor: pointer;
    padding: 8px 30px;
    font-size: 16px;
    line-height: 30px;  
}

.btn-blue{
    background-color: #3751FF;
    color: #fff;
}

.btn-header{
    font-size: 16px;
    line-height: 25px
}

.btn__hero-wite{
    color: #455880;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.btn__hero{
    margin-right: 20px;
}

.btn__hero:last-child{
    margin-right: 0;
}

/* header */

.hero{
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
    max-height: 870px;
    max-height: 871px;
    margin-bottom: 186px;
    position: relative;
}

.hero__items{
    padding-top: 144px;
    text-align: center;
}

.hero__title{
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 56px;
    line-height: 105%;
    color: #1E266D;
}

.hero__text{
    font-size: 18px;
    line-height: 150%;
    color: #455880;
    margin-bottom: 40px ;
}

.women__hero{
    max-width: 720px;
    width: 100%;
    max-height: 533px;
}

.women__hero-img{
    margin-top: 32px;
    margin-bottom: 70px;
    align-items: center;
}

/* hero */

.logo__text{
    line-height: 27px;
    color: rgba(69, 88, 128, 0.5);
    text-align: center;
    margin-bottom: 50px;
}

.logo__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px ;
}


/* logo */


.about{
    margin-bottom: 150px;
}

.about_h2{
    color: #1E266D;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}

.about__text-items{
    display: flex;
    justify-content: space-between;
}

.about__text-item{
    display: flex;
    max-height: 130px;
    border-bottom: 1px solid rgba(69, 88, 128, 0.2);
    margin-top: 70px;
}

.about__text-item:last-child{
    border:none;
}

.pipl{
    max-width:620px;
    width: 100%;
}

.NO__FLEX{
    margin-top: 200px;
}

.about__img-text{
    max-width: 58;
    max-height: 58px;
    margin-right: 47px;
}

.about__text-top{
    font-weight: 500;
    font-size: 22px;
    color: #1E266D;
    margin-bottom: 10px;
}

.about__text-bottom{
    font-size: 18px;
    line-height: 27px;
    color: #455880;
}

.about__text{
    margin-bottom: 50px;
    max-width:300px ;

}

.img__about{
    display: inline-block;
}


/* about */


.portfolio{
    background-color: #FFF9EA;
}

.portfolio__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.portfolio__text-bottom{
    text-align: center;
}

.portfolio__text-top{
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #1E266D;
    text-align: center;
    padding-top: 140px;
    margin-bottom: 40px;
}

.portfolio__text-bottom{
    font-size: 21px;
    line-height: 150%;
    color: #455880;
    margin-bottom: 40px;
}


.portfolio-img{
    align-items: left;
    width: 100%;
}


/* portfolio */

.others{
    margin-top: 230px;
}

.others-top{
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #1E266D;
    text-align: center;
    margin-bottom: 60px;
}

.others__items{
    display: flex;
}


.others__item{
    margin-right: 30px;
    width: 372px;
    height: 467px;
    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;
    padding: 38px 44px 32px;
}

.others__item:last-child{
    margin: 0;
}

.others__persona{
    margin: 10px auto 0;
}

.others__avatar{
    display:block;
    margin:auto;
    margin-bottom: 20px;
}

.others__text{
    font-size: 18px;
    color: #455880;
    width: 285px;
    height: 250px;
}

.others__persona__text-top{
    font-weight: 500;
    font-size: 22px;
    line-height: 125%;
    text-align: center;
}

.other__persona__text-bottom{
    font-size: 18px;
    line-height: 180%;
    color: #455880;
    text-align: center;
}

/* others */


.blue-bgc{
    background-color: #3751FF;
    margin-top: 150px;
}

.blue__bgc-items{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 88px 0 115px;
}

.btn__blue-bgc{
    margin-bottom:20px;
    margin-left: 50px;
    align-items: right;
    background-color: #fff;
}

.blue__bgc-left{
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
}


.btn__blue{
    background-image: url(../img/pochta.svg);
    background-repeat: no-repeat;
    background-position: 8% 50%;;
    padding: 17px 31px 17px 50px;
    color: #455880;
}

.orange__text{
    color: #FED385;
}

.button__text-bottom{
    font-size: 16px;
    line-height: 125%;
    color: #DFE0EB;
}

/* blue */

.footer{
    margin-top: 170px;
}

.footer__items{
    margin-top: 50px;
}

.footer__items-top{
    display: flex;
    justify-content: space-between;
}

.text__footer-logo{
    font-size: 18px;
    line-height: 145%;
    color: #455880;
    max-width: 310px;
    width: 100%;
}

.lists,
.lists-two{
    max-width: 100px;
    width: 100%;
}

.text__footer-top{
    font-weight: 500;
    font-size: 22px;
    line-height: 125%;
    color: #1E266D;
}

.footer__nav-item{
    font-size: 18px;
    line-height: 225%;
    color: #455880;
}

.footer__text-logo{
    margin-top: 30px;
}


.footer-nav,
.img__message{
    margin-top: 30px;
}

.img__social-footer {
    margin-right: 15px;
    margin-bottom: 20px;
}

.img__social-footer :last-child{
    margin-right: 0;
}

.footer__items-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    margin-bottom: 20px;
}

.footer__item_bottom-txt{
    display: flex;
}

.footer__item-txt{
    font-size: 14px;
    line-height: 27px;
    color: #455880;
}

.footer__item-txt:not(:last-child){
    margin-right: 20px;
}

.copyright-txt{
    font-size: 14px;
    line-height: 27px;
    color: rgba(69, 88, 128, 0.5);
}

/* adaprive */

@media (max-width:1200px){

    .container{
        width: 90%;
    }

    .others__items{
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio__items{
        justify-content: center;
    }

    .btn {
        padding: 8px 15px;
    }

    .number{
        display: none;
    }

    .btn__blue-bgc{
        padding-left: 45px;
        background-position:5 center;
    }
}


@media(max-width:980px){
    .about__img-item{
        display: none;
    }

    .NO__FLEX{
        margin: 0 auto;
    }
}

@media (max-width: 880px){
    .logo__footer-text,
    .header__logo{
        display: none;
    }

    .footer{
        margin: 0;
    }

    .others__item{
        margin-right: 0;
        margin-bottom: 15px;
    }

    .logo{
        display: none;
    }

    .btn-header{
        margin-left: 15px;
        padding: 5px 10px;
    }
}

@media(max-width:740px){
    .btn-header{
        display: none;
    }

    .blue__bgc-left{
        text-align: center;
    }

    .blue__bgc-items{
        display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
    }

    .blue__btn-item{
        text-align: center;
    }
    
    .btn__blue-bgc{
        margin-left: 0;
    }
}

@media (max-width:520px){
    .copyright-txt{
        display: none;
    }

    .footer__items-bottom{
        margin-top: 60px;
    }
}

@media(max-width: 450px){
    .lists{
        display: none;
    }

    .footer__items-top{
        justify-content: center;
    }

    .lists-two{
        margin-right: 20px;
    }

    .header__nav{
        display: none;
    }

    .btn-burger{
        display: block;
        margin-right: auto;
    }

    .hero__items{
        padding-top: 50px;
    }

    .women__hero{
        display: none;
    }

    .hero{
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width:380px){
    .footer__items-top{
        display: none;
    }

    .footer__items-bottom{
        margin-top: 20px;
    }
}